extends layout

block content
	h1= title
	p 
		|	Selamat datang di #{title}. Aplikasi ini hanya sekedar contoh 
			aplikasi web dengan mongoDB sebagai backend. Untuk saat ini hanya 
			tersedia fasilitas untuk melihat 
		a(href="/employees") daftar pegawai.
