extends layout

block content
  h1= title
  p Welcome to #{title}
  script(src="/javascripts/socket.io.js")
  script
    var socket = io.connect('http://localhost');
    socket.on('news', function (data) {
      document.write(data.hello);
      socket.emit('my other event', { my: 'data' });
    });

